# Internal NOC API and server-agent endpoints: internal networks only.
<RequireAny>
    Require ip 127.0.0.1
    Require ip ::1
    Require ip 10.0.0.0/8
    Require ip 172.16.0.0/12
    Require ip 192.168.0.0/16
    Require ip fc00::/7
    Require ip fe80::/10
</RequireAny>

<LimitExcept GET POST HEAD OPTIONS>
    Require all denied
</LimitExcept>
